---
layout: about
title: About Me
permalink: /about/
---

<div class="container mtb">
    <div class="row">
        <div class="col-lg-6">
        {% for member in site.members %}
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="he-wrap tpl6">
            <img src="{{ "/assets/img/members/" | prepend: site.baseurl }}{{ member.img }}" alt="">
                <div class="he-view">
                    <div class="bg a0" data-animate="fadeIn">
                        <h3 class="a1" data-animate="fadeInDown">Contact Me:</h3>
                        {% for entry in member.social %}
                            <a href="{{ entry.url }}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-{{ entry.title }}"></i></a>
                        {% endfor %}
                    </div><!-- he bg -->
                </div><!-- he view -->
            </div><!-- he wrap -->
            <!-- Under pic details -->
            <h4>{{ member.name }}</h4>
            <h5 class="ctitle">{{ member.position }}</h5>
            <p>{{ member.text }}</p>
            <div class="hline"></div>
        </div><! --/col-lg-3 -->
        {% endfor %}
            </br>
        </div>
        <div class="col-lg-6">
            <h4>Programmer with professional experience in FPS games, particularly in the context of AI, using C++ and Unreal Engine</h4>
            <div class="hline"></div>
            <br></br>
            <p>I've had the opportunity to experience multiple aspects of game development, first academically, through my degree in B. Sc. Games Technology at 
            the University of the West of England where I had the opportunity to explore game and engine programming, game design, and even 3D modelling, but also 
            professionally.</p>  
            
            <p>Soon after I would spend over 2 years at Scientific Games, where I took my skills as a game developer to the next level, publishing 
            multiple casino games and experiencing full development cycles while collaborating in a large team and using our in house Typescript/Javascript engine.</p> 
            
            <p>In 2021 I decided I wanted to exclusively work on games I like to play, and took up a role as Intermediate Programmer at Antimatter Games. Here I 
            would solidify my skills in C++ and Unreal Engine, diving deep into the engine code, learning advanced debugging techniques, and even taking up leaderhsip
            responsibilities in the AI team, thus discovering my passion for AI in games.</p>

            <p><br/><a href="{{ "/contact/" | prepend: site.baseurl }}" class="btn btn-theme">Contact Me</a></p>
        </div>
    </div><! --/row -->
</div><! --/container -->
