---
layout: about
title: About Me
permalink: /about/
---

<div class="container mtb">
    <div class="row">
        <div class="col-lg-6">
        {% for member in site.members %}
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="he-wrap tpl6">
            <img src="{{ "/assets/img/members/" | prepend: site.baseurl }}{{ member.img }}" alt="">
                <div class="he-view">
                    <div class="bg a0" data-animate="fadeIn">
                        <h3 class="a1" data-animate="fadeInDown">Contact Me:</h3>
                        {% for entry in member.social %}
                            <a href="{{ entry.url }}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-{{ entry.title }}"></i></a>
                        {% endfor %}
                    </div><!-- he bg -->
                </div><!-- he view -->
            </div><!-- he wrap -->
            <!-- Under pic details -->
            <h4>{{ member.name }}</h4>
            <h5 class="ctitle">{{ member.position }}</h5>
            <p>{{ member.text }}</p>
            <div class="hline"></div>
        </div><! --/col-lg-3 -->
        {% endfor %}
            </br>
        </div>
        <div class="col-lg-6">
            <h4>Versatile Software Engineer experienced with intricate Gameplay and AI systems using C++ and Unreal Engine for FPS and Colony Sim games</h4>
            <div class="hline"></div>
            <br></br>
            <p>
                My journey into game development began academically at the University of the West of England, where I explored game/engine programming,
                game design, and even dipped my toes into 3D modeling. This foundational experience laid the groundwork for my professional career.
            </p>

            <p>
                I then dove headfirst into the professional scene at Scientific Games, spending over two years there honing my skills while contributing
                to the publication of multiple  multiple casino games, and I got a front-row seat to the entire development journey, working closely with
                a sizable team and tinkering with our in-house Typescript/Javascript engine.
            </p>

            <p>
                In 2021 I decided it was time to work exclusively on games that aligned with my personal interests. That's when I got the role of Intermediate
                Programmer at Antimatter Games. There, I deep-dived into the intricacies of C++ and Unreal Engine, picking up advanced debugging tricks  and
                assumed leadership responsibilities within the AI team, uncovering a newfound passion for AI in games.
            </p>

            <p>
                Now, in the latest chapter of my journey, I'm contributing my skills as a Software Engineer at Lost Boys Interactive, further expanding my 
                game dev toolkit and honing expertise in cutting-edge technologies.
            </p>

            <p><br /><a href="{{ "/contact/" | prepend: site.baseurl }}" class="btn btn-theme">Contact Me</a></p>
        </div>
    </div><! --/row -->
</div><! --/container -->
