<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Andrés Pereira</h1>
                <br>
                <img src="{{ "/assets/img/openworldhome.jpg" | prepend: site.baseurl }}" class="img-responsive">
                <br>
                <h3>Game Developer currently working at Scientific Games.</h3>
                <h3>Take a look at the last 2 titles I've worked on:</h3>
                <h3><a href="https://www.sgdigital.com/opengaming/game-88-fortunes-megaways.html">88 Fortunes Megaways</a></h3>
                <h3><a href="https://www.sgdigital.com/opengaming/game-casino-stud.html">Casino Stud</a></h3>
                <h3>Otherwise head to my <a href="https://agpo93.github.io/portfolio/">portfolio tab</a> and check out my personal and university projects.</h3>
                <br>
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <!-- <img src="{{ "/assets/img/openworldhome.jpg" | prepend: site.baseurl }}" class="img-responsive"> -->
                <br>
                <br>
                <h3>Last year of University project showreel</h3>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/ESct1ysOw3o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
