<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Andrés Pereira</h1>
                <h3>Game Developer</h3>
                <br>
                <h4>Currently working at Scientific Games. Take a look at 2 of the titles I've worked on:</h4>
                <a href="https://www.sgdigital.com/opengaming/game-88-fortunes-megaways.html">88 Fortunes Megaways</a>
                <a href="https://www.sgdigital.com/opengaming/game-casino-stud.html">Casino Stud</a>
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/openworldhome.jpg" | prepend: site.baseurl }}" class="img-responsive">
                <br>
                <br>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/ESct1ysOw3o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
